<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017128171603-jr509fghhb268kjv0foavhr26lbck7cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017128171603-jr509fghhb268kjv0foavhr26lbck7cm</string>
	<key>API_KEY</key>
	<string>AIzaSyBv2VML7V5jEC5LXJXfB-vAAwlpA7Wwubs</string>
	<key>GCM_SENDER_ID</key>
	<string>1017128171603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bensigo.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-714a7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-714a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017128171603:ios:954d703b140b6c04</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-714a7.firebaseio.com</string>
</dict>
</plist>